<div class="row">
	<div class="col-md-12">
		<h1>{{serie.name}}</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<img class="img-responsive" fallback-src="images/not_found.png" ng-src="{{imageURL}}/{{serie.banner}}">
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		{{serie.overview}}
	</div>
</div>
<div class="row">
<td colspan="6">
	<div class="pull-right">
		<ul class="pagination">
			<li ng-class="{disabled: currentPage == 0}">
				<a href ng-click="prevPage()">« Prev</a>
			</li>
			<li ng-repeat="n in range(numberSeasons)"
				ng-class="{active: n == currentPage}"
				ng-click="setPage()">
			    <a href ng-bind="n+1">1</a>
			</li>
			<li ng-class="{disabled: currentPage == numberSeasons - 1}">
				<a href ng-click="nextPage()">Next »</a>
			</li>
		</ul>
	</div>
</td>
</div>
<div class="row">
	<div class=" col-md-12">
		<div class="panel panel-default">
			<ul class="list-group">
				<li  class="list-group-item"  ng-repeat="episode in episodesBySeason[currentPage+1] | orderBy:['combined_season','combined_episodenumber']" id="{{serie.id}}" >
					<div class="row">
						<div class="col-md-12">
							<a ng-show="episode.hasOverview" ui-sref="episode({_id: episode._id.$oid})"><h2>{{episode.episode_name}}</h2></a>
							<h2 ng-hide="episode.hasOverview">{{episode.episode_name}}</h2>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<img class="img-responsive" fallback-src="static/not_found.png" ng-src="{{imageURL}}{{episode.filename}}">
						</div>
						<div class="col-md-8">
							<div class="row">
								<h4>Season {{episode.combined_season}} Episode {{episode.combined_episodenumber}}</h4>
							</div>
							<div ng-show="{{episode.hasOverview}}" class="row">
								{{episode.overview}}
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

