

  <div class="jumbotron">
    <h1 class="center">Series Tracker</h1>
    <div  class="row">
    <carousel interval="myInterval" disable-animation="true">
      <slide ng-repeat="slide in slides" active="slide.active">
         <a class="noColor"ui-sref="serieInfo({id: slide.id})"><!--<h3>{{slide.name}}</h3>-->
        <img ng-src="{{imageURL}}/{{slide.banner}}" style="margin:auto;">
        <div class="carousel-caption">
        </div>
        </a>
      </slide>
    </carousel>
  </div>
    <div class="row left">
      <h4 >Features:</h4>
      <ul >
        <li>Follow your favorite series</li>
        <li>Get notifications when an episode starts</li>
        <li>Create a Google Calendar with the release date of your favorite series</li>
      </ul>
  </div>
</div>
