<div class="header" ng-controller="NavbarCtrl">
  <ul class="nav nav-pills pull-right">
    <li ng-class="{active: isActive('/')}"><a ui-sref="home">Home</a></li>
    <li ng-class="{active: isActive('/series')}"><a  ui-sref="series">Series</a></li>
    <li ng-class="{active: isActive('/favorites')}" ng-show="currentUser"><a  ui-sref="favorites">My Series</a></li>
    <li ng-class="{active: isActive('/login')}" ng-hide="currentUser"><a  ui-sref="login">Login</a></li>
    <li ng-class="{active: isActive('/profile')}" ng-show="currentUser"><a  ui-sref="profile">My Profile</a></li>
  </ul>
  <h3 class="text-muted">Series Tracker</h3>
</div>
