<div class="row">
	<div class="col-md-6">
		<img class="img-responsive" ng-src="{{currentUser.picture}}" ng-click="loginGoogle()">
	</div>
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					{{currentUser.name}}
				</div>
				<div class="row top-medium-buffer" ng-if="hasCalendar">
					<div class="col-md-6">
						<button class="btn btn-lg btn-success" ng-click="useAPI(1)"> Update calendar</button>
					</div>
					<div class="col-md-6">
						<button class="btn btn-lg btn-danger" ng-click="useAPI(2)"> Delete calendar</button>
					</div>
				</div>
				<div class="row top-medium-buffer" ng-if="!hasCalendar">
					<div class="col-md-12">
						<button class="btn btn-lg btn-success" ng-click="useAPI(0)"> Create calendar</button>
					</div>
				</div>
				<div class="row top-buffer" >
					<div class="col-md-12">
						<button class="btn btn-lg btn-info" ng-click="logout()"> Logout</button>
					</div>
				</div>
				
			</div>
		</div>
	</div>

</div>