<div class="row">
	<div class="col-md-9">
		<h1>Series</h1>
	</div>
	<div class="col-md-3">
		<div >
			<input type="search"
   			class="form-control" 
   			placeholder="Search"
   			ng-model="searchText"
   			 />
		</div>
	</div>
</div>
<div class="row">
	<div class=" col-md-12">
		<div class="panel panel-default">
			<ul class="list-group">
				<li  class="list-group-item"  ng-repeat="serie in series | filter:searchText" id="{{serie.id}}" >
					<div class="row">
						<div class="col-md-12">
							<div class="row">
							<a ui-sref="serieInfo({id: serie.id})"><h2>{{serie.name}}</h2></a>
							<button type="button" ng-show="currentUser && serie.favorited" ng-click="removeFavorite(serie.id)" class="btn btn-default btn-lg pull-right buttonNoBorder">
  								<span ng-if="serie.favorited" class="fa fa-star favorited-star"></span>
							</button>
							<button type="button" ng-show="currentUser  && !serie.favorited" ng-click="addFavorite(serie.id)" class="btn btn-default btn-lg pull-right buttonNoBorder">
  								<span ng-if="!serie.favorited" class="fa fa-star-o "></span>
							</button>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<img class="img-responsive" fallback-src="images/not_found.png" ng-src="{{imageURL}}/{{serie.banner}}">
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
